$colors: (
  clr-main: (
    100: hsl(0, 5%, 92%),
    300: hsl(19, 100%, 50%),
    400: hsl(192, 33%, 49%),
    800: hsl(193, 74%, 16%),
  ),
  clr-text: (
    700: hsl(240, 12%, 20%),
    900: hsl(345, 6%, 13%)
  )
);

$breakpoints: (
  small: 40em,
  medium: 60em,
);
